<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear /> <!-- This is the key change. It ignores all other configured sources. -->
    <!-- Keep the public feed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Add the private Telerik feed -->
    <add key="telerik.com" value="https://nuget.telerik.com/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <telerik.com>
      <add key="Username" value="goncalo.ramos@ambisig.com" />
      <add key="ClearTextPassword" value="2025@Ambisig!" />
    </telerik.com>
  </packageSourceCredentials>
</configuration>